################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MCS.FOI.FilePreProcessor/MCS.FOI.FileConversion/obj
